* {
    font-family: monospace;
    color: white;
    font-weight: bold;
}

body {
    background-size: cover;
    background-position: center;
    background: url("../Images/Background.jpeg");
}

header table{
    margin-left: 1090px;
    display:flex;
}

.icons{
    border-radius: 15px;
    background: greenyellow;
    width: 30px;
    height: 15px;
    padding: 5px;
    margin: 5px;
}

.icons:hover {
    border: none;
    background: white;
    font-size: 22px;
    font-weight: bold;
    position: center;
    transition: 0.5s;
    color: black;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

header input[type="text"]{
    border-radius: 15px;
    background: greenyellow;
    border: none;
    outline: none;
    width: 100px;
    height: 30px;
    color: black;
    font-size: 20px;
}

header input[type="text"]:hover {
    border: none;
    background: white;
    font-size: 22px;
    font-weight: bold;
    position: center;
    transition: 0.5s;
    color: black;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.container{
    margin-left: 400px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: greenyellow;
    border: none;
    outline: none;
    width: 160px;
    height: 60px;
    color: black;
    font-size: 20px;
}

.container input[type="text"]{
    border: none;
    outline: none;
    background: gold;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 22px;
}

.container input[type="file"]{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}