* {
  font-family: monospace;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-position: center;
  background: url('../Images/Background.jpeg');
  background-color: #121212;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.data-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  color: #fff;
}

.data-block {
  width: 350px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 15px;
}

.data-block:hover {
  transform: scale(1.02);
  background-color: #444;
}

.data-block td,
.data-block th {
  padding: 10px;
  vertical-align: middle;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header .user-info {
  display: flex;
  flex-direction: column;
}

.header .user-info span {
  font-size: 14px;
  color: #ddd;
}

.header .user-info .username {
  font-weight: bold;
  color: #fff;
}

.data-block .post-time {
  font-size: 12px;
  color: #888;
}

.data-block img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 15px;
  transition: transform 0.3s ease;
}

.data-block img:hover {
  transform: scale(1.05);
}

.post-content {
  margin-top: 15px;
  font-size: 14px;
  color: #ddd;
}

.post-details p {
  margin: 5px 0;
  color: #bbb;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.actions .like-button,
.actions .comment-button {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: #bbb;
}

.actions .like-button:hover,
.actions .comment-button:hover {
  color: #fff;
}

.footer {
  margin-top: 380px;
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.welcome-message {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  color: #fff;
  background-color: #444;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(176, 176, 176, 0.2);
}

.nav-icon {
  background: white;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.nav-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}