* {
    font-family: monospace;
    font-weight: bold;
}

body {
    background-size: cover;
    background-position: center;
    background: url("../Images/Background.jpeg");
    color: white;
}

.container {
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 10%;
    margin-left: 35%;
    padding: 20px;
}

.container th{
    font-size: 18px;
    padding: 25px;
}

.container th:hover {
    border: none;
    background: white;
    font-size: 22px;
    font-weight: bold;
    position: center;
    transition: 0.5s;
    color: black;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.container input[type="text"] {
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.container input[type="text"]:hover {
    border: none;
    outline: none;
    color: black;
    background: white;
    font-size: 22px;
    font-weight: bold;
    position: center;
    transition: 0.5s;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


.container button {
    border: none;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    color: white;
    position: center;
    width: 100%;
    transition: 0.5s;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.container button:hover {
    border: none;
    background: white;
    font-size: 22px;
    font-weight: bold;
    position: center;
    width: 100%;
    transition: 0.5s;
    color: black;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.container a {
    outline: none;
    color: magenta;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    position: center;
    width: 100%;
    transition: 0.5s;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.container a:hover {
    outline: none;
    color: white;
    background: magenta;
    font-size: 22px;
    font-weight: bold;
    position: center;
    width: 100%;
    transition: 0.5s;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

footer table{
    outline: none;
    font-size: 20px;
    font-weight: bold;
    position: center;
    width: 100%;
    transition: 0.5s;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
}

.title{
    outline: none;
    color: black;
    width: 100%;
    transition: 0.5s;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: 0.5s;
    background: none;
    border: none;
    font-size: 20px;
}

.title:hover{
    outline: none;
    color: black;
    width: 100%;
    transition: 0.5s;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: magenta;
    transition: 0.5s;
    font-size: 22px;
}

footer{
    background: linear-gradient(white, black);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

footer button{
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: none;
    width: 100%;
    border: none;
    outline: none;
}

footer button:hover{
    background: transparent;
}

footer img{
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;    
    width: 100px;
    height: auto;
}

footer table th:hover{
    outline: none;
    color: black;
    transition: 0.5s;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: magenta;
    transition: 0.5s;
    font-size: 22px;
}

footer table td:hover{
    outline: none;
    color: black;
    transition: 0.5s;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: magenta;
    transition: 0.5s;
    font-size: 22px;
}