* {
    font-family: monospace;
    font-weight: bold;
    color: white;
}

body {
    background-size: cover;
    background-position: center;
    background: url("../Images/Background.jpeg");
}

.footer {
    margin-top: 380px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

.footer-links {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
}

.footer-links li {
    margin-left: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.form-text{
    font-size: 20px;
    color: white;
}